<ion-header>
  <ion-navbar color="primary">
    <ion-title><img src="assets/imgs/lh-toolbar.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item detail-none *ngFor="let item of list" (click)="openLink(item)">
      <h2 class="title">{{ item.title }}</h2>
      <div class="description" [innerHtml]="item.description"></div>  
    </button>
  </ion-list>
</ion-content>
