page-more {
  ion-navbar {
    img {
      height: 36px;
      padding: 4px 0 0 0;
    }
  }
  .toolbar-ios ion-title {
    padding: 0 5px 1px;
    width: auto;
    left: 12px;
  }
  .scroll-content {
    padding: 0;
  }
  ion-label {
    white-space: normal;
    h2.title {
      margin-bottom: 5px;
      font-weight: 500;
    }
    .description {
      line-height: 24px;
      overflow: inherit;
      margin: 0 0 2px;
      font-size: 1.4rem;
      text-overflow: inherit;
      color: #666;
      p {
        line-height: 24px;
      }
    }
  }
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}
