<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Announcements" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sermons" tabIcon="headset"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="More" tabIcon="bookmark"></ion-tab>
</ion-tabs>
