<ion-header>
  <ion-navbar color="primary">            
    <ion-title><img src="assets/imgs/lh-toolbar.png"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getAnnouncements($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of list">
      <h2 class="title">{{ item.title }}</h2>
      <div class="description" [innerHtml]="item.description"></div>
    </ion-item>     
  </ion-list>
</ion-content>
