page-announcements {    
    ion-item {
        ion-label {
            white-space: normal;
            h2.title {
                margin-bottom: 5px;
                font-weight: 500;
            }
            .description {                
                line-height: 24px;
                p {
                    line-height: 24px;
                }
            }
        }
    }    
    ion-navbar {
        img {
            height: 36px;
            padding: 4px 0 0 0;
        }
    }

    .toolbar-ios ion-title {
        padding: 0 5px 1px;
        width: auto;
        left: 12px;
    }
}