<ion-header>
  <ion-navbar color="primary">            
    <ion-title><img src="assets/imgs/lh-toolbar.png"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getSermons($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item detail-none *ngFor="let item of list" (click)="playAudio(item)">
      <img src="https:{{ item.image }}?w=400" />
      <h3 class="date-who">{{ item.date | date }} | {{ item.who }}</h3>
      <h2 class="title">{{ item.title }}</h2>      
    </button>     
  </ion-list>
</ion-content>
