page-sermons {    
    h3.date-who {
        text-transform: uppercase;
        color: map-get($colors, primary);
        margin-top: 5px;
    }
    h2.title {
        margin-top: 5px;
        font-weight: 500;
    }
    ion-navbar {
        img {
            height: 36px;
            padding: 4px 0 0 0;
        }
    }

    .toolbar-ios ion-title {
        padding: 0 5px 1px;
        width: auto;
        left: 12px;
    }
    .scroll-content {
        padding: 0;
    }
}

h3.date-who {
    text-transform: uppercase;
    color: map-get($colors, primary);
    margin-top: 5px;
}
h2.title {
    margin-top: 5px;
    font-weight: 500;
}