<ion-header>
    <ion-navbar color="primary">
        <ion-title>Listen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="https:{{sermon.image}}?w=400"/>
    <audio id="audio" controls="controls">
        <source src="https:{{sermon.audio}}">
    </audio>

    <p class="date-who">{{ sermon.date | date }} | {{ sermon.who }}</p>
    <h4>{{ sermon.title }}</h4>
    <p>{{ sermon.description }}</p>
</ion-content>
