page-player {    
    .controls {
        text-align: center;
    }
    audio {
        width: 100%;
    }
    .date-who {
        color: map-get($colors, primary);
        margin-bottom: 0;
    }
    h4 {
        margin-top: 5px;
        margin-bottom: 0;
    }
    p {
        color: #666;
        line-height: 24px;
        margin-top: 5px;
    }
}
